            {% if user.is_authenticated %}
            {{ user.username }} logged in <br>
            {% endif %}
            {% if user.username %}
            Username : {{ user.username }} <br>
            {% endif %}
            {% if user.teacher.first_name %}
            First Name : {{ user.teacher.first_name }} <br>
            {% endif %}
            {% if user.teacher.last_name %}
            Last Name : {{ user.teacher.last_name }} <br>
            {% endif %}
            {% if user.teacher.teacher_roll %}
            teacher Roll : {{ user.teacher.teacher_roll }} <br>
            {% endif %}
            {% if user.email %}
            email : {{ user.email }} <br>
            {% endif %}
            
        <ol>    
        
                {% for course in user.teacher.courses.all %}
                    <li>{{ course.title }}</li>
                {% endfor %}
    
    
    </ol>
    <a href="{% url 'course_list' %}">Course List</a><br>
    <a href="{% url 'add_courses' %}">Add Courses?</a><br>
    <a href="{% url 'update' %}">Update?</a>
    <br>