
            
            {% if user.username %}
            Username : {{ user.username }} <br>
            {% endif %}
            {% if user.student.first_name %}
            First Name : {{ user.student.first_name }} <br>
            {% endif %}
            {% if user.student.last_name %}
            Last Name : {{ user.student.last_name }} <br>
            {% endif %}
            {% if user.student.student_roll %}
            Student Roll : {{ user.student.student_roll }} <br>
            {% endif %}
            {% if user.email %}
            email : {{ user.email }} <br>
            {% endif %}
            
        <ol>    
        
                {% for course in user.student.courses.all %}
                    <li>{{ course.title }}</li>
                {% endfor %}
    
    
    </ol>
    <!-- <a href="{% url 'course_list' %}">Course List</a><br> -->
    <a href="{% url 'add_courses' %}">Add Courses?</a><br>
    <a href="{% url 'update' %}">Update?</a>
    </div>